/*home*/

.banner__actions .icon {
    transform: translateY(-25%) translateX(120%);
}

.contactform {
    text-align: right;
}


/*profile*/

.pagehead__fig {
    text-align: left;
    padding: .5% 0 0 1.5%;
}


/*services*/

.alltheservices {
    text-align: right;
}

.servicelist>li a {
    padding-right: 0;
    padding-left: 2em;
}

.servicelist>li a::after {
    right: unset;
    transform: translateY(-50%) rotate(180deg);
    left: 0;
}