html {
    font-size: $font-globalsize * 0.875;

    @include breakpoint($bp-large) {
        font-size: $font-globalsize * 0.9375;
    }

    @include breakpoint($bp-xlarge) {
        font-size: $font-globalsize;
    }

    @include breakpoint($bp-xxxlarge) {
        font-size: $font-globalsize * 1.125;
    }
}

.grid-container--narrow {
    max-width: $layout-content * 0.875;
}

.grid-container--xnarrow {
    max-width: $layout-content * 0.666;
}

.grid-container--xxnarrow {
    max-width: $layout-content * 0.5;
}

.entry-content-asset {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin: 2.5% auto;
    border: 0.5rem solid #fff;
    box-shadow: 0 0 0.25rem 1px rgba(#000, 0.125);

    @include breakpoint(tablet) {
        width: 75%;
        padding-bottom: 42.75%;
    }

    @include breakpoint(large) {
        width: 66.666%;
        padding-bottom: 37.5%;
    }
}

.entry-content-asset iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
