.svg.icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.textlogo {
    color: $body-font-color;
    display: inline-block;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: $fw-bold;
    text-align: center;
    line-height: 1.2;
    //border: 1px solid #cacaca;
    width: 20.25em;

    span {
        display: block;
        font-weight: $fw-normal;
        font-size: 0.75em;
    }
}

.button {
    font-weight: $fw-bold;
    text-transform: uppercase;
    min-width: 12em;
}
