.articlecard {
    @extend .ps;

    &:nth-child(2n + 1) {
        background-color: $cl-gray-xlight;
    }

    &:not(:last-child()) {
        border-bottom: 1px solid darken($cl-gray-xlight, 2.5%);
    }
}

.articlecard__title {
    font-weight: $fw-normal;
    font-size: 2rem;
}
