.banner {
    text-align: center;
    padding: 1rem 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    > * {
        width: 100%;
        font-size: 0.875rem;

        @include breakpoint($bp-large) {
            width: auto;
        }
    }
}

.banner__brand {
    display: block;
    font-size: 1rem;
    // @include breakpoint($bp-large) {
    //     font-size: .875rem;
    // }
}

// .textlogo {
//     color: $body-font-color;
//     display: inline-block;
//     font-size: 1.25em;
//     text-transform: uppercase;
//     font-weight: $fw-bold;
//     text-align: center;
//     line-height: 1.2;
//     //border: 1px solid #cacaca;
//     // width: 20.25em;

//     span {
//         display: block;
//         font-weight: $fw-normal;
//         font-size: 0.62em;
//     }
// }

.banner__nav {
    flex-grow: 2;
}

.mainmenu {
    list-style: none;
    padding: 0;
    margin: 0.75em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;

    @include breakpoint(large) {
        font-size: 1.125rem;
    }

    > li {
        margin: 0 1%;

        @include breakpoint(large) {
            margin: 0 1%;
        }

        a {
            display: inline-block;
            padding: 0.333em 0.25em;
            white-space: nowrap;
            color: inherit;
            text-transform: uppercase;
            line-height: 1;
            @include breakpoint(large) {
                padding: 0.25em 0.25em;
            }
        }

        &.active a {
            font-weight: $fw-bold;
        }
    }
}

.banner__actions {
    line-height: 1;
    font-weight: $fw-bold;
    font-size: 1.125em;
    font-feature-settings: "lnum" 1;
    margin: 0.5em 0;

    @include breakpoint($bp-large) {
        margin: 0;
    }

    .icon {
        position: absolute;
        fill: currentColor;
        stroke: currentColor;
        width: 1.875em;
        height: 1.875em;
        transform: translateY(-25%) translateX(-120%);
    }
}
