.hero {
    width: 100%;
    background-color: $cl-body-font-color;
    background-image: linear-gradient(0deg, rgba(#fff, 0.5) 0, rgba(#fff, 0.75) 100%), url(../images/homehero.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: $cl-body-font-color;
    padding-top: calc(3rem + 1.5vw);
    //padding: calc(3rem + 2.5vw) 0 0 1rem;
    // background-color: $c-secondary;
    // background-image: linear-gradient(
    //     135deg,
    //     $c-secondary 60%,
    //     lighten($c-secondary, 2%) 60%,
    //     lighten($c-secondary, 2%) 100%
    // );
    // color: $white;

    @include breakpoint($bp-tablet) {
        grid-template-columns: 1fr 25% 1fr;
        //padding-right: 1rem;
    }

    @include breakpoint($bp-tablet) {
        // padding-left: 6rem;
        //padding-right: 2rem;
    }

    @include breakpoint($bp-large) {
        // padding-left: calc(50vw - #{$layout-content/2 * 0.75});
        // padding-right: calc(50vw - #{$layout-content/2 * 0.75});
    }

    @include breakpoint($bp-xlarge) {
    }

    @media screen and (orientation: portrait) {
        background-size: auto 100vh;
    }
}

.hero__inner {
    display: grid;
    grid-template-columns: 1fr 33.333% 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.hero--light {
    background-color: transparent;
    color: $body-font-color;
    background-image: none;
}

.hero--notop {
    padding-top: 0;
}

.hero__content {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    z-index: 1;
    padding: 0 15% 4rem 0;
    font-size: calc(1.25rem + 0.25vw);

    @include breakpoint($bp-tablet) {
        grid-column: 1 / span 2;
        padding: calc(2rem + 10%) 0;
        //padding-right: 0;
        font-size: 1.5rem;
    }

    @include breakpoint($bp-large) {
        font-size: 1.666rem;
    }

    p {
        font-size: 0.875em;
        //line-height: 1.4;
        //font-weight: $global-weight-bold;
        // font-family: $header-font-family;

        a {
            @extend .fauxbtn;

            text-transform: none !important;
        }
    }

    .btn,
    .fauxbtn {
        font-size: 0.875em;
        line-height: 1.125;
        color: inherit;
        //text-transform: uppercase;
        font-weight: $global-weight-bold;
    }
}

p.hero__subcaption {
    font-size: 1em;
    line-height: 1.4;
    font-weight: $fw-bold;
    font-family: $header-font-family;
    color: $cl-blue;
}

.hero__caption {
    font-size: 1.333em;
    letter-spacing: 0.0875em;
    font-weight: $fw-normal;
    //text-transform: uppercase;
    line-height: 1.25em;
    margin: 0 0 1em;
    //color: $cl-blue;
    //max-width: 15em;
    em {
        display: block;
        font-size: 0.666em;
        // font-family: $body-font-family;
        // font-weight: $global-weight-bold;
        text-transform: none;
        letter-spacing: 0;
    }
}

.hero__fig {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    align-self: stretch;
    //background-color: $cl-blue;
    position: relative;
    //opacity: 0.25;
    text-align: right;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: right bottom;
        max-width: 10rem;

        @include breakpoint($bp-tablet) {
            max-width: 26rem;
        }
    }
}

.hero__action {
    font-size: 0.875rem;
}
