.placeswherework {
    background-color: scale-color(#000, $lightness: 97%);
    padding: 4rem 0;
    text-align: center;
    //color: #fff;
}

.placeslist {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > li {
        display: block;
        padding: 0.5em 0;
        width: 100%;

        @include breakpoint(medium) {
            width: calc(50% - #{$layout-gutter-width/2});
        }
    }
}

.placecard {
    text-align: center;
    padding: 2rem 0 1rem;
    line-height: 1.5;
}

.placecard__fig {
    position: relative;
    margin: 0 auto 1rem;
    max-width: 13rem;

    &::before {
        content: "";
        display: block;
        height: 0;
        padding-bottom: 56.25%;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border: 0.25rem solid $cl-blue;
        border-radius: 0.5rem;
    }
}

.placecard__title {
    font-size: 1.125rem;
    color: $cl-blue;
    margin: 0 0 0.25em;
}

.placecard__text {
    line-height: 1.2;
    font-size: 0.875rem;
}

.placecard__call {
    font-size: 1rem;
}
