//Fonts
$fontserif: serif;
$fontsans: "Raleway", sans-serif;
$font-globalsize: 16px;

$cl-body-background: #fff;
$cl-body-font-color: #3a3a3a;
$cl-gray-light: #cecece;

$cl-gray-xlight: #f3f3f3;

$cl-blue: #3d808b;
$cl-bluedark: darken($cl-blue, 5%);
$cl-bluehard: #22454b;

$cl-blue-silver: #95b0b5;
$cl-blue-light: #4ca1af;

$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Layout / Grid
$layout-col-count: 12;
$layout-col-width: 96px;
$layout-gutter-width: 24px;
$layout-content: ($layout-col-count * $layout-col-width) + (($layout-col-count - 1) * $layout-gutter-width);
$layout-gutter-pct: percentage($layout-gutter-width / $layout-content);

// Breakpoints
$bp-medium: 375px;
$bp-tablet: 768px;
$bp-large: 1024px;
$bp-xlarge: 1280px;
$bp-xxlarge: 1440px;
$bp-xxxlarge: 1920px;
